form{
	border : 2px solid #B0E0E6;
	margin-left : 300px;
	margin-right : 300px;
	padding : 130px;
	font-family : "Courier New";
	font-weight : bold;
	font-size : 20px;  
}

#div2{
	text-align : center;
	background-color : #B0E0E6;
	border-radius : 10px;
	height : 420px;
}

#div1{
	background-color : #4682B4;
	border : 2px solid #4682B4;
	border-radius : 10px;
	height : 230px;
}

h2{
	text-align : center;
	padding : 7%;
	font-family : "Courier New";
	font-weight : bolder;
	font-size : 30px;  

}
